# dependencies
node_modules/
client/node_modules/
server/node_modules/



# env
.env
.env.*

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# builds
client/dist/
server/dist/

# server local data
server/data/

